body{
    background-color: rgb(9, 3, 34);
    color: white;
}

img{
    height: 300px;
    border: 5px solid rgb(6, 150, 143);
    border-radius: 30px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: rgb(12, 4, 51);
    color: rgb(87, 216, 255);
}

footer p{
    color: rgb(87, 216, 255);
}