body{
    background-color: rgb(9, 3, 34);
    color: white;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    height: 300px;
    border: 5px solid rgb(6, 150, 143);
    border-radius: 30px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: rgb(12, 4, 51);
    color: rgb(87, 216, 255);
}

p{
    color: rgb(95, 197, 223);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

footer p{
    color: rgb(87, 216, 255);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}